.user-management-container {
  margin: 0 auto;
  padding: 0;
  display: grid;
  background-color: var(--body-bkgrd);
  color: #fff;
}

.user-management-body {
  margin-top: 3.75rem;
  margin-bottom: 2rem;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.5rem;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.form-field:not(:last-child) {
  margin-bottom: 0.75rem;
}

.form-header {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--border-color);
  margin-bottom: 1rem;
}

input[type="checkbox"].terms {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="checkbox"].terms ~ label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f096";
  letter-spacing: 5px;
  font-size: 1.25em;
  color: #535353;
  width: 1.2em;
  cursor: pointer;
}

input[type="checkbox"].terms:checked ~ label:before {
  content: "\f046";
  font-size: 1.25em;
  color: var(--btn-bkgrd);
  letter-spacing: 2.5px;
}

input[type="checkbox"].terms:focus ~ label:before,
input[type="checkbox"].terms:focus ~ label {
  cursor: pointer;
}

.terms-label {
  font-size: 1rem;
}

.user-Button {
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: none;
  display: inline-block;
  justify-content: center;
  font-size: 1.25rem;
  height: 2.25em;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  user-select: none;
  background-color: var(--btn-bkgrd);
  color: #fff;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 1007px) and (orientation: portrait) {
  .user-management-container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
  }

  .user-management-body {
    grid-row: 2;
    grid-column: 2;
    margin-top: 3.75rem;
    font-size: 1.5rem;
    align-self: end;
  }
}

@media screen and (min-width: 481px) and (max-width: 1007px) and (orientation: landscape) {
  .user-management-container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
  }

  .user-management-body {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    font-size: 1.5rem;
    align-self: end;
  }
}

@media screen and (min-width: 1008px) {
  .user-management-container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
  }

  .user-management-body {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    font-size: 1.5rem;
    align-self: end;
  }
}
