.cart-wrapper {
  background-color: #fff;
  padding: 3.75rem 10px 2rem;
}

.cart {
  border: 1px solid var(--border-color);
  border-radius: 2.5px;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.cartitem-divider {
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem 0.25rem;
}

.cart-orderNo {
  padding: 0.5rem 0.25rem;
  border-bottom: 1px solid var(--border-color);
}

.cartitem-itemsList {
  padding: 0.5rem 0.25rem;
  border-bottom: 1px solid var(--border-color);
}

.order-line-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.order-line-item-price {
  justify-self: end;
}

.order-no-line-items {
  padding: 0.5rem 0.25rem;
}

.icon-remove {
  vertical-align: text-top;
  padding: 0 0.25rem;
}

.cartitem-divider-dotted {
  border-bottom: 1px dotted var(--border-color);
}

.cart-totals-wrapper {
  display: grid;
}

.cart-subtotal-line {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
}

.cart-gratuity-line {
  display: grid;
  grid-template-columns: 2fr 0.125fr 57px;
  padding: 0 0.25rem 0.5rem 0.25rem;
  align-items: center;
  border-bottom: 1px dotted var(--border-color);
  font-size: 1rem;
  font-weight: normal;
}

.gratuity-label {
  justify-self: start;
}

.gratuity-prefix {
  justify-self: center;
}

.gratuity-input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: normal;
  justify-content: flex-start;
  text-align: center;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #a3a3a3;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
}

.gratuity-input:focus,
.gratuity-input.is-focused,
.gratuity-input:active,
.gratuity-input.is-active {
  outline: none;
}

.gratuity-input:hover,
.gratuity-input.is-hovered {
  border-color: #b5b5b5;
}

.gratuity-input:focus,
.gratuity-input.is-focused,
.gratuity-input:active,
.gratuity-input.is-active {
  border-color: #b5b5b5;
}

.gratuity-input[disabled] {
  background-color: white;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

.gratuity-input[disabled]:hover {
  cursor: not-allowed;
}

.cart-totals-line {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  font-size: 1.25rem;
  font-weight: 600;
}

.order-enter {
  transition: all 0.5s;
  transform: translateX(-150%);
  max-height: 0;
  padding: 1rem !important;
}

.order-enter.order-enter-active {
  padding: 1rem 0 !important;
  transform: translateX(0);
}

.order-leave {
  transition: all 0.5s;
  transform: translateX(0);
}

.order-leave.order-leave-active {
  transform: translateX(150%);
  max-height: 0;
  padding: 0 !important;
}

.cart-coupon-line {
  display: grid;
  padding: 0 0.25rem 0.5rem;
  align-items: center;
  border-bottom: 1px dotted var(--border-color);
  font-size: 1rem;
  font-weight: normal;
}

.coupon-label {
  text-align: center;
  color: darkgray;
}

.coupon-input {
  justify-self: end;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: normal;
  justify-content: flex-start;
  text-align: right;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #a3a3a3;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 75%;
}

.coupon-input:focus,
.coupon-input.is-focused,
.coupon-input:active,
.coupon-input.is-active {
  outline: none;
}

.coupon-input:hover,
.coupon-input.is-hovered {
  border-color: #b5b5b5;
}

.coupon-input:focus,
.coupon-input.is-focused,
.coupon-input:active,
.coupon-input.is-active {
  border-color: #b5b5b5;
}

.coupon-input[disabled] {
  background-color: white;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

.coupon-input[disabled]:hover {
  cursor: not-allowed;
}

.hire-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hire-icon {
  padding: 0 2rem;
}

.back-link {
  padding: 5vw 1vw;
}

@media screen and (min-width: 481px) and (max-width: 1007px) {
  .cart-wrapper {
    background-color: #fff;
    padding: 3.75rem 24px 2rem;
  }

  .cartitem-itemsList {
    padding: 0.5rem 0 0.5rem 0.25rem;
    border-bottom: 1px solid var(--border-color);
  }

  .cart {
    border: 1px solid var(--border-color);
    border-radius: 2.5px;
  }

  .order-line-item {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    align-items: center;
  }

  .cart-coupon-line {
    display: grid;
    padding: 0 0.25rem 0.5rem;
    align-items: center;
    border-bottom: 1px dotted var(--border-color);
    font-size: 1rem;
    font-weight: normal;
  }

  .coupon-input {
    justify-self: center;
  }
}

@media screen and (min-width: 1008px) {
  .cart-wrapper {
    background-color: #fff;
    padding: 1rem 24px 2rem;
  }

  .cart {
    border: 1px solid var(--border-color);
    border-radius: 2.5px;
  }

  .cartitem-itemsList {
    padding: 0.5rem 0 0.5rem 0.25rem;
    border-bottom: 1px solid var(--border-color);
  }

  .order-line-item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
  }

  .coupon-input {
    justify-self: center;
  }
}
