.cart-wrapper {
  background-color: #fff;
  padding: 3.75rem 10px 2rem;
}

.cart {
  border: 1px solid var(--border-color);
  border-radius: 2.5px;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.cartitem-divider {
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem 0.25rem;
}

.cart-orderNo {
  padding: 0.5rem 0.25rem;
  border-bottom: 1px solid var(--border-color);
}

.cartitem-itemsList-container {
  border-bottom: 1px solid var(--border-color);
}

.cartitem-itemsList {
  padding: 0.25rem 0 0.25rem 0.125rem;
}

.order-line-item {
  display: grid;
  grid-template-columns: 2.5fr 1fr 0.5fr;
  grid-template-rows: minmax(48px, 1fr);
  align-items: center;
}

.order-line-item-price {
  justify-self: end;
}

.order-no-line-items {
  padding: 0.5rem 0.25rem;
}

.icon-remove {
  vertical-align: text-top;
  padding: 0;
}

.cartitem-divider-dotted {
  border-bottom: 1px dotted var(--border-color);
}

.cart-totals-wrapper {
  display: grid;
}

.cart-subtotal-line {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
}

.cart-gratuity-line {
  display: grid;
  grid-template-columns: 2fr 0.125fr 57px;
  padding: 0 0.25rem 0.5rem 0.25rem;
  align-items: center;
  border-bottom: 1px dotted var(--border-color);
  font-size: 1rem;
  font-weight: normal;
}

.gratuity-label {
  justify-self: start;
}

.gratuity-prefix {
  justify-self: center;
}

.gratuity-input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: normal;
  justify-content: flex-start;
  text-align: center;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #a3a3a3;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
}

.gratuity-input:focus,
.gratuity-input.is-focused,
.gratuity-input:active,
.gratuity-input.is-active {
  outline: none;
}

.gratuity-input:hover,
.gratuity-input.is-hovered {
  border-color: #b5b5b5;
}

.gratuity-input:focus,
.gratuity-input.is-focused,
.gratuity-input:active,
.gratuity-input.is-active {
  border-color: #b5b5b5;
}

.gratuity-input[disabled] {
  background-color: white;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

.gratuity-input[disabled]:hover {
  cursor: not-allowed;
}

.cart-totals-line {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  font-size: 1.25rem;
  font-weight: 600;
}

.order-enter {
  transition: all 0.5s;
  transform: translateX(-150%);
  max-height: 0;
  padding: 1rem !important;
}

.order-enter.order-enter-active {
  padding: 1rem 0 !important;
  transform: translateX(0);
}

.order-leave {
  transition: all 0.5s;
  transform: translateX(0);
}

.order-leave.order-leave-active {
  transform: translateX(150%);
  max-height: 0;
  padding: 0 !important;
}

.cart-coupon-line-mobile {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  align-items: center;
  padding: 0.25rem;
  align-items: center;
  border-bottom: 1px dotted var(--border-color);
  font-size: 1rem;
  font-weight: normal;
}

.coupon-label-mobile {
  text-align: center;
  color: darkgray;
  grid-column: 1 / 3;
  grid-row: 1;
}

.coupon-input-mobile {
  grid-row: 2;
  grid-column: 1;
  align-items: center;
  justify-self: center;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: normal;
  justify-content: flex-start;
  text-align: right;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #a3a3a3;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 95%;
}

.coupon-input-mobile:focus,
.coupon-input-mobile.is-focused,
.coupon-input-mobile:active,
.coupon-input-mobile.is-active {
  outline: none;
}

.coupon-input-mobile:hover,
.coupon-input-mobile.is-hovered {
  border-color: #b5b5b5;
}

.coupon-input-mobile:focus,
.coupon-input-mobile.is-focused,
.coupon-input-mobile:active,
.coupon-input-mobile.is-active {
  border-color: #b5b5b5;
}

.coupon-input-mobile[disabled] {
  background-color: white;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

.coupon-input-mobile[disabled]:hover {
  cursor: not-allowed;
}

.coupon-input-mobile-button {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  display: inline-block;
  font-size: 1.125rem;
  justify-content: center;
  line-height: 1.5;
  height: 2.25rem;
  vertical-align: top;
  user-select: none;
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.coupon-input-mobile-button[disabled] {
  background-color: #f7860d;
  border-color: transparent;
  box-shadow: none;
  opacity: 0.5;
}

.hire-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hire-icon {
  padding: 0 2rem;
}

.back-link {
  padding: 5vw 1vw;
}

@media screen and (min-width: 481px) and (max-width: 1007px) and (orientation: portrait) {
  .cart-wrapper {
    background-color: #fff;
    padding: 3.75rem 24px 2rem;
  }

  .cartitem-itemsList {
    padding: 0.5rem 0 0.5rem 0.25rem;
    border-bottom: 1px solid var(--border-color);
  }

  .cartitem-divider {
    padding: 0.5rem 0.5rem;
  }

  .cart {
    border: 1px solid var(--border-color);
    border-radius: 2.5px;
  }

  .order-line-item {
    display: grid;
    grid-template-columns: 4fr 1fr 0.5fr;
    grid-template-rows: minmax(48px, 1fr);
    align-items: center;
  }

  .cart-gratuity-line {
    display: grid;
    grid-template-columns: 2fr 0.25fr 80px;
    padding: 0 0.25rem 0.5rem 0.25rem;
    align-items: center;
    border-bottom: 1px dotted var(--border-color);
    font-size: 1rem;
    font-weight: normal;
  }

  .gratuity-prefix {
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
    padding-left: 0.25rem;
    z-index: 1;
    font-size: 1.125rem;
  }

  .gratuity-input {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
  }

  .cart-coupon-line-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px dotted var(--border-color);
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    width: 100%;
  }

  .coupon-label-mobile {
    text-align: left;
    padding: 0.25rem 0;
    grid-column: 1;
    grid-row: 1;
  }

  .coupon-input-mobile {
    grid-row: 1;
    grid-column: 2;
  }

  .coupon-input-mobile-button {
    grid-column: 3;
    grid-row: 1;
  }
}

@media screen and (min-width: 1008px) {
  .cart-wrapper {
    background-color: #fff;
    padding: 1rem 5px 2rem;
  }

  .cart {
    border: 1px solid var(--border-color);
    border-radius: 2.5px;
  }

  .cartitem-itemsList {
    padding: 0.5rem 0 0.5rem 0.25rem;
    max-height: 700px;
  }

  .order-no-line-items {
    padding: 1rem 0.25rem;
    text-align: center;
  }

  .order-line-item {
    display: grid;
    grid-template-columns: 2fr 1fr 0.25fr;
    grid-template-rows: minmax(35px, 1fr);
    align-items: center;
  }

  .cart-gratuity-line {
    display: grid;
    grid-template-columns: 2fr 0.25fr 80px;
    padding: 0 0.25rem 0.5rem 0.25rem;
    align-items: center;
    border-bottom: 1px dotted var(--border-color);
    font-size: 1rem;
    font-weight: normal;
  }

  .gratuity-prefix {
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
    padding-left: 0.25rem;
    z-index: 1;
    font-size: 1.125rem;
  }

  .gratuity-input {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
  }

  .cart-coupon-line {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px dotted var(--border-color);
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    width: 100%;
  }

  .coupon-label {
    text-align: left;
    padding: 0.25rem 0;
    grid-column: 1/3;
    grid-row: 1;
  }

  .coupon-input {
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    justify-self: start;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1.125rem;
    font-weight: normal;
    justify-content: flex-start;
    text-align: right;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    background-color: white;
    border-color: #dbdbdb;
    color: #a3a3a3;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 95%;
  }

  .coupon-input:focus,
  .coupon-input.is-focused,
  .coupon-input:active,
  .coupon-input.is-active {
    outline: none;
  }

  .coupon-input:hover,
  .coupon-input.is-hovered {
    border-color: #b5b5b5;
  }

  .coupon-input:focus,
  .coupon-input.is-focused,
  .coupon-input:active,
  .coupon-input.is-active {
    border-color: #b5b5b5;
  }

  .coupon-input[disabled] {
    background-color: white;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a;
    cursor: not-allowed;
  }

  .coupon-input[disabled]:hover {
    cursor: not-allowed;
  }

  .coupon-input-button {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1.125rem;
    justify-content: center;
    line-height: 1.5;
    height: 2rem;
    vertical-align: top;
    user-select: none;
    background-color: #23d160;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }

  .coupon-input-button[disabled] {
    background-color: #f7860d;
    border-color: transparent;
    box-shadow: none;
    opacity: 0.5;
  }
}
