.navbox {
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.1);
  border-radius: 5px;
  margin-top: 3.25rem;
  margin-bottom: 1rem;
}

.breadcrumb-item-centered {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 1fr minmax(50px, 1fr) 1fr minmax(50px, 1fr) 1fr minmax(50px, 1fr);
  font-size: 0.5rem;
  align-items: center;
}

.plh {
  padding-left: 0;
}

@media screen and (min-width: 481px) and (max-width: 1007px) {
  .navbox {
    border-radius: 3px;
    margin-top: 3.25rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1008px) {
  .breadcrumb-item-centered {
    font-size: 0.75rem;
  }

  .navbox {
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .plh {
    padding-left: 0.5rem;
  }
}
