.breadcrumb-item-centered {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  align-content: center;
}

.fa-icon {
  vertical-align: text-top;
  padding-right: 0.5rem;
}

.selection-text-padding {
  padding: 1.8rem;
  font-size: 1.5rem;
}
