.StoreMenu {
  padding: 0.5rem 5px;
  background-color: white;
}

.store-menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(160px, auto) 1fr;
  grid-template-areas: "storeheader storeheader" "storedelivery storedelivery" "storemenulist storemenulist"
    "storeorderlist storeorderlist";
  grid-gap: 0.25rem;
}

.store-header {
  grid-area: storeheader;
}

.store-delivery {
  grid-area: storedelivery;
  border: 1px dashed #23d160;
  border-radius: 3px;
  background-color: #f6fef9;
  color: #0e301a;
  padding-top: calc(0.375em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  max-height: 200px;
}

.store-main-content {
  grid-area: storemenulist;
}

.outer {
  max-height: 480px;
  overflow: scroll;
}

.store-sidebar {
  grid-area: storeorderlist;
  padding: 0 10px;
}

.menu-list-header {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0.25rem 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outer {
  max-height: 600px;
  overflow: scroll;
}

@media screen and (min-width: 481px) and (max-width: 1007px) and (orientation: portrait) {
  .StoreMenu {
    padding: 0.5rem 24px;
    background-color: white;
  }

  .store-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(160px, auto) 1fr;
    grid-template-areas: "storeheader storeheader" "storedelivery storedelivery" "storemenulist storemenulist"
      "storeorderlist storeorderlist";
    grid-gap: 0.25rem;
  }
}

@media screen and (min-width: 1008px) {
  .StoreMenu {
    padding: 0.5rem 15px;
  }

  .store-menu {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: minmax(160px, auto) 1fr;
    grid-template-areas: "storeheader . ." "storemenulist storemenulist storemenulist";
    grid-gap: 0.5rem;
  }

  .store-header {
    grid-area: storeheader;
  }

  .store-delivery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 1px dashed #23d160;
    border-radius: 3px;
    background-color: #f6fef9;
    color: #0e301a;
    padding-top: calc(0.375em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    max-height: 120px;
  }

  .store-main-content {
    grid-area: storemenulist;
    display: grid;
    grid-template-columns: 1.75fr 0.25fr 1fr;
    grid-template-areas: "header header storecart" "list list storecart" "footer footer footer";
    grid-column-gap: 0.25rem;
  }

  .menu-list-header {
    grid-area: header;
    border-top: 1px solid var(--border-color);
    padding: 0.5rem 0.25rem;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu-list {
    grid-area: list;
    height: 720px;
    overflow-y: auto;
  }

  .menu-list-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .menu-list-subtitle {
    align-self: center;
    justify-self: end;
  }

  .store-cart {
    grid-area: storecart;
  }

  .menu-list-footer {
    grid-area: footer;
  }
}
