.menu-list-header {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
