.site {
  display: grid;
  grid-template-rows: 1.5fr 1fr 1.25fr;
  grid-row-gap: 2rem;
}

@media screen and (min-width: 481px) {
  .site {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    grid-row-gap: 0.25rem;
    margin-bottom: 3.25rem;
  }
}
