.navbar > .navcontainer {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

@media screen and (max-width: 1007px) {
  .navbar > .navcontainer {
    display: flex;
  }
}

@media screen and (max-width: 350px) {
  .navbar > .navcontainer {
    display: inline-block;
  }
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
