.item-grid {
  display: grid;
  grid-template-columns: 1fr 0.75fr 1fr 1fr;
  border-bottom: 1px solid lightgrey;
  padding: 0;
  align-items: center;
}

.item-grid:nth-child(even) {
  background-color: #f3f3f3;
}

.item-name {
  grid-column: 1/ span 2;
  grid-row: 1;
}

.item-veg {
  grid-column: 2/2;
  grid-row: 1;
  justify-self: end;
}

.item-desc {
  grid-column: 1/ span 2;
  grid-row: 2;
}

.item-actions {
  grid-column: 3/5;
  grid-row: span 2;
}

.item-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-column-gap: 1vw;
}

.item-price {
  justify-self: end;
}

.item-disabled-button {
  justify-content: center;
  display: grid;
  border-color: transparent;
  color: #f7860d;
  opacity: 0.5;
}

@media screen and (min-width: 481px) and (max-width: 1007px) {
  .item-grid {
    display: grid;
    grid-template-columns: 2fr 0.125fr 1fr 1fr;
    padding: 0.5rem 0.25rem;
  }

  .item-desc {
    grid-column: 1/ span 3;
    grid-row: 2;
  }

  .item-actions {
    grid-column: 4/5;
    grid-row: span 2;
  }

  .item-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 0.5vw;
  }
}

@media screen and (min-width: 1008px) {
  .item-grid {
    display: grid;
    grid-template-columns: 2fr 0.125fr 1fr 1fr;
    padding: 0.5rem 0.25rem;
  }

  .item-desc {
    grid-column: 1/ span 3;
    grid-row: 2;
  }

  .item-actions {
    grid-column: 4/5;
    grid-row: span 2;
  }

  .item-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 0.5vw;
  }
}
