.well {
  display: grid;
  background-color: var(--header-bkgrd);
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1.25em 1.5em 1em 1.5em;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vh;
}

.selection-text-padding {
  padding: 1.8rem;
  font-size: 1.5rem;
}
