.searchByCity-container {
  margin: 0;
  display: grid;
  justify-content: center;
  max-height: 50vh;
}

.searchByCuisine-container {
  margin: 0;
  display: grid;
  justify-content: center;
}

.search-results-container {
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  display: grid;
  background-color: var(--body-bkgrd);
  color: #fff;
}

.search-results-body {
  margin-top: 3.75rem;
  margin-bottom: 2rem;
}

.inner-grid-header {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.well {
  display: block;
  background-color: var(--header-bkgrd);
  border-radius: 3px;
  padding: 0.25rem 0.125rem;
  box-shadow: inset 0 2px 3px rgba(10, 10, 10, 0.1);
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-gap: 1.5vh 1vw;
  font-size: 1rem;
}

.search-links {
  text-align: justify;
  padding-left: 1vw;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  color: #d8d8d8;
}

.search-links:hover,
.search-links:focus,
.search-links:active {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

.breadcrumb-box {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 1fr minmax(50px, 1fr) 1fr minmax(50px, 1fr) 1fr minmax(50px, 1fr);
  grid-auto-flow: column;
  align-items: center;
  padding: 0.25rem 0;
  margin: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
}

.fa-icon {
  vertical-align: baseline;
  padding-right: 0.25rem;
}

.breadcrumb-icon {
  vertical-align: middle;
  color: #b5b5b5;
}

.plh {
  padding-left: 0.5rem;
}

.breadcrumb-link-inactive {
  color: #b5b5b5 !important;
  padding: 0 0.5rem;
}

.breadcrumb-link-inactive:hover {
  color: var(--btn-bkgrd) !important;
  padding: 0 0.5rem;
}

.breadcrumb-nolink-inactive {
  color: #b5b5b5 !important;
  padding: 0 0.5rem;
}

.breadcrumb-link-active {
  color: var(--btn-bkgrd);
  padding: 0 0.5rem;
}

@media screen and (min-width: 481px) and (max-width: 1007px) {
  .searchByCity-container {
    margin: 0;
    display: grid;
    justify-content: center;
  }

  .searchByCuisine-container {
    margin: 0;
    display: grid;
    justify-content: center;
  }

  .search-results-container {
    margin: 0;
    background-color: var(--body-bkgrd);
    color: #fff;
  }

  .search-results-body {
    display: grid;
    grid-template-rows: 0.1125fr 1fr;
    grid-row-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .breadcrumb-box {
    display: grid;
    grid-template-columns: minmax(48px, 1fr) 0.25fr minmax(50px, 1fr) 0.25fr minmax(50px, 1fr) 0.25fr minmax(50px, 1fr);
    align-items: center;
    padding: 0;
    margin: 1rem 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
  }

  .well {
    margin: 0;
    padding: 0.5rem 24px;
    max-height: unset;
    height: auto;
    overflow-y: unset;
    overflow-x: unset;
    overflow-wrap: unset;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-auto-rows: 48px;
    grid-gap: 0.25rem 0.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1008px) {
  .searchByCity-container {
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0 15px;
  }

  .searchByCuisine-container {
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0 15px;
  }

  .search-results-body {
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0 15px;
  }

  .breadcrumb-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: grid;
    padding: 0.75rem 0.25rem;
    margin: 1.25rem 0;
  }

  .well {
    margin: 0;
    padding: 0.5rem;
    max-height: unset;
    height: auto;
    overflow-y: unset;
    overflow-x: unset;
    overflow-wrap: unset;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-gap: 0.5rem;
  }

  .icon-padding {
    vertical-align: text-top;
    padding: 0 0.5rem;
  }

  .breadcrumb-link-inactive {
    color: #b5b5b5 !important;
    padding: 0 0.25rem;
  }

  .breadcrumb-link-active {
    color: var(--btn-bkgrd);
    padding: 0 0.25rem;
  }
}
