.search-body {
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  display: block;
  background-color: var(--body-bkgrd);
  color: #fff;
}

.well {
  display: block;
  background-color: var(--header-bkgrd);
  border-radius: 3px;
  padding: 0.25vh 0.125rem;
  box-shadow: inset 0 2px 3px rgba(10, 10, 10, 0.1);
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-gap: 1.5vh 1vw;
  font-size: 1rem;
}

.search-links {
  text-align: justify;
  padding-left: 1vw;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  color: #d8d8d8;
}

.search-links:hover,
.search-links:focus,
.search-links:active {
  background-color: transparent;
  color: white;
  text-decoration: underline;
}

.breadcrumb-box {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 1fr minmax(50px, 1fr) 1fr minmax(50px, 1fr) 1fr minmax(50px, 1fr);
  grid-auto-flow: column;
  align-items: center;
  padding: 0.25rem 0;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
}

.fa-icon {
  vertical-align: baseline;
  padding-right: 0.25rem;
}

.breadcrumb-icon {
  vertical-align: middle;
  color: #b5b5b5;
}

.plh {
  padding-left: 0.5rem;
}

.breadcrumb-link-inactive {
  color: #b5b5b5 !important;
  padding: 0 0.5rem;
}

.breadcrumb-link-inactive:hover {
  color: var(--btn-bkgrd) !important;
  padding: 0 0.5rem;
}

.breadcrumb-nolink-inactive {
  color: #b5b5b5 !important;
  padding: 0 0.5rem;
}

.breadcrumb-link-active {
  color: var(--btn-bkgrd);
  padding: 0 0.5rem;
}

@media screen and (max-width: 480px) {
  .breadcrumb-box {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 481px) {
  .search-body {
    padding: 15px 15px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .breadcrumb-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: grid;
    padding: 0.25rem;
    margin-bottom: 1rem;
  }

  .well {
    padding: 1vh 15px 2vh;
    flex-grow: 1;
    flex-shrink: 1;
    height: auto;
    overflow-y: none;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-gap: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  .breadcrumb-link-inactive {
    color: #b5b5b5 !important;
    padding: 0 0.25rem;
  }

  .breadcrumb-link-active {
    color: var(--btn-bkgrd);
    padding: 0 0.25rem;
  }
}

@media screen and (min-width: 769px) {
  .well {
    padding: 0 1.5vw 1.5vh;
    height: auto;
    overflow-y: none;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    grid-gap: 0.5rem;
  }

  .searchBox-header {
    padding-top: 0.25rem;
  }

  .icon-padding {
    vertical-align: text-top;
    padding: 0 0.5rem;
  }
}

.submit-error {
  font-size: 0.75rem;
}

.mt {
  margin-top: 0.75rem;
}

.mb {
  margin-bottom: 4vh;
}

@media screen and (min-width: 1200px) {
  .search-body {
    max-width: 1000px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bkgrd);
  }
}
