.spacer {
  padding: 1.25rem;
}

.storelist-box {
  background-color: white;
  border-radius: 2.5px;
  color: #4a4a4a;
  display: block;
}

.results-body {
  margin: 0 auto;
  display: grid;
  background-color: var(--body-bkgrd);
  color: #fff;
}

@media screen and (min-width: 480px) {
  .results-body {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .results-body {
    max-width: 1000px;
    width: 1000px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bkgrd);
  }
}
